.m5 {
    margin: 5px
}

.ml5 {
    margin-left: 5px
}

.mr5 {
    margin-right: 5px
}

.mt5 {
    margin-top: 5px
}

.mb5 {
    margin-bottom: 5px
}

.p5 {
    padding: 5px
}

.pl5 {
    padding-left: 5px
}

.pr5 {
    padding-right: 5px
}

.pt5 {
    padding-top: 5px
}

.pb5 {
    padding-bottom: 5px
}

.m10 {
    margin: 10px
}

.ml10 {
    margin-left: 10px
}

.mr10 {
    margin-right: 10px
}

.mt10 {
    margin-top: 10px
}

.mb10 {
    margin-bottom: 10px
}

.p10 {
    padding: 10px
}

.pl10 {
    padding-left: 10px
}

.pr10 {
    padding-right: 10px
}

.pt10 {
    padding-top: 10px
}

.pb10 {
    padding-bottom: 10px
}

.m15 {
    margin: 15px
}

.ml15 {
    margin-left: 15px
}

.mr15 {
    margin-right: 15px
}

.mt15 {
    margin-top: 15px
}

.mb15 {
    margin-bottom: 15px
}

.p15 {
    padding: 15px
}

.pl15 {
    padding-left: 15px
}

.pr15 {
    padding-right: 15px
}

.pt15 {
    padding-top: 15px
}

.pb15 {
    padding-bottom: 15px
}

.m20 {
    margin: 20px
}

.ml20 {
    margin-left: 20px
}

.mr20 {
    margin-right: 20px
}

.mt20 {
    margin-top: 20px
}

.mb20 {
    margin-bottom: 20px
}

.p20 {
    padding: 20px
}

.pl20 {
    padding-left: 20px
}

.pr20 {
    padding-right: 20px
}

.pt20 {
    padding-top: 20px
}

.pb20 {
    padding-bottom: 20px
}

.m25 {
    margin: 25px
}

.ml25 {
    margin-left: 25px
}

.mr25 {
    margin-right: 25px
}

.mt25 {
    margin-top: 25px
}

.mb25 {
    margin-bottom: 25px
}

.p25 {
    padding: 25px
}

.pl25 {
    padding-left: 25px
}

.pr25 {
    padding-right: 25px
}

.pt25 {
    padding-top: 25px
}

.pb25 {
    padding-bottom: 25px
}

.m30 {
    margin: 30px
}

.ml30 {
    margin-left: 30px
}

.mr30 {
    margin-right: 30px
}

.mt30 {
    margin-top: 30px
}

.mb30 {
    margin-bottom: 30px
}

.p30 {
    padding: 30px
}

.pl30 {
    padding-left: 30px
}

.pr30 {
    padding-right: 30px
}

.pt30 {
    padding-top: 30px
}

.pb30 {
    padding-bottom: 30px
}

.m35 {
    margin: 35px
}

.ml35 {
    margin-left: 35px
}

.mr35 {
    margin-right: 35px
}

.mt35 {
    margin-top: 35px
}

.mb35 {
    margin-bottom: 35px
}

.p35 {
    padding: 35px
}

.pl35 {
    padding-left: 35px
}

.pr35 {
    padding-right: 35px
}

.pt35 {
    padding-top: 35px
}

.pb35 {
    padding-bottom: 35px
}

.m40 {
    margin: 40px
}

.ml40 {
    margin-left: 40px
}

.mr40 {
    margin-right: 40px
}

.mt40 {
    margin-top: 40px
}

.mb40 {
    margin-bottom: 40px
}

.p40 {
    padding: 40px
}

.pl40 {
    padding-left: 40px
}

.pr40 {
    padding-right: 40px
}

.pt40 {
    padding-top: 40px
}

.pb40 {
    padding-bottom: 40px
}

.m45 {
    margin: 45px
}

.ml45 {
    margin-left: 45px
}

.mr45 {
    margin-right: 45px
}

.mt45 {
    margin-top: 45px
}

.mb45 {
    margin-bottom: 45px
}

.p45 {
    padding: 45px
}

.pl45 {
    padding-left: 45px
}

.pr45 {
    padding-right: 45px
}

.pt45 {
    padding-top: 45px
}

.pb45 {
    padding-bottom: 45px
}

.m50 {
    margin: 50px
}

.ml50 {
    margin-left: 50px
}

.mr50 {
    margin-right: 50px
}

.mt50 {
    margin-top: 50px
}

.mb50 {
    margin-bottom: 50px
}

.p50 {
    padding: 50px
}

.pl50 {
    padding-left: 50px
}

.pr50 {
    padding-right: 50px
}

.pt50 {
    padding-top: 50px
}

.pb50 {
    padding-bottom: 50px
}

.m55 {
    margin: 55px
}

.ml55 {
    margin-left: 55px
}

.mr55 {
    margin-right: 55px
}

.mt55 {
    margin-top: 55px
}

.mb55 {
    margin-bottom: 55px
}

.p55 {
    padding: 55px
}

.pl55 {
    padding-left: 55px
}

.pr55 {
    padding-right: 55px
}

.pt55 {
    padding-top: 55px
}

.pb55 {
    padding-bottom: 55px
}

.m60 {
    margin: 60px
}

.ml60 {
    margin-left: 60px
}

.mr60 {
    margin-right: 60px
}

.mt60 {
    margin-top: 60px
}

.mb60 {
    margin-bottom: 60px
}

.p60 {
    padding: 60px
}

.pl60 {
    padding-left: 60px
}

.pr60 {
    padding-right: 60px
}

.pt60 {
    padding-top: 60px
}

.pb60 {
    padding-bottom: 60px
}

.m65 {
    margin: 65px
}

.ml65 {
    margin-left: 65px
}

.mr65 {
    margin-right: 65px
}

.mt65 {
    margin-top: 65px
}

.mb65 {
    margin-bottom: 65px
}

.p65 {
    padding: 65px
}

.pl65 {
    padding-left: 65px
}

.pr65 {
    padding-right: 65px
}

.pt65 {
    padding-top: 65px
}

.pb65 {
    padding-bottom: 65px
}

.m70 {
    margin: 70px
}

.ml70 {
    margin-left: 70px
}

.mr70 {
    margin-right: 70px
}

.mt70 {
    margin-top: 70px
}

.mb70 {
    margin-bottom: 70px
}

.p70 {
    padding: 70px
}

.pl70 {
    padding-left: 70px
}

.pr70 {
    padding-right: 70px
}

.pt70 {
    padding-top: 70px
}

.pb70 {
    padding-bottom: 70px
}

.m75 {
    margin: 75px
}

.ml75 {
    margin-left: 75px
}

.mr75 {
    margin-right: 75px
}

.mt75 {
    margin-top: 75px
}

.mb75 {
    margin-bottom: 75px
}

.p75 {
    padding: 75px
}

.pl75 {
    padding-left: 75px
}

.pr75 {
    padding-right: 75px
}

.pt75 {
    padding-top: 75px
}

.pb75 {
    padding-bottom: 75px
}

.m80 {
    margin: 80px
}

.ml80 {
    margin-left: 80px
}

.mr80 {
    margin-right: 80px
}

.mt80 {
    margin-top: 80px
}

.mb80 {
    margin-bottom: 80px
}

.p80 {
    padding: 80px
}

.pl80 {
    padding-left: 80px
}

.pr80 {
    padding-right: 80px
}

.pt80 {
    padding-top: 80px
}

.pb80 {
    padding-bottom: 80px
}

.m85 {
    margin: 85px
}

.ml85 {
    margin-left: 85px
}

.mr85 {
    margin-right: 85px
}

.mt85 {
    margin-top: 85px
}

.mb85 {
    margin-bottom: 85px
}

.p85 {
    padding: 85px
}

.pl85 {
    padding-left: 85px
}

.pr85 {
    padding-right: 85px
}

.pt85 {
    padding-top: 85px
}

.pb85 {
    padding-bottom: 85px
}

.m90 {
    margin: 90px
}

.ml90 {
    margin-left: 90px
}

.mr90 {
    margin-right: 90px
}

.mt90 {
    margin-top: 90px
}

.mb90 {
    margin-bottom: 90px
}

.p90 {
    padding: 90px
}

.pl90 {
    padding-left: 90px
}

.pr90 {
    padding-right: 90px
}

.pt90 {
    padding-top: 90px
}

.pb90 {
    padding-bottom: 90px
}

.m95 {
    margin: 95px
}

.ml95 {
    margin-left: 95px
}

.mr95 {
    margin-right: 95px
}

.mt95 {
    margin-top: 95px
}

.mb95 {
    margin-bottom: 95px
}

.p95 {
    padding: 95px
}

.pl95 {
    padding-left: 95px
}

.pr95 {
    padding-right: 95px
}

.pt95 {
    padding-top: 95px
}

.pb95 {
    padding-bottom: 95px
}

.m100 {
    margin: 100px
}

.ml100 {
    margin-left: 100px
}

.mr100 {
    margin-right: 100px
}

.mt100 {
    margin-top: 100px
}

.mb100 {
    margin-bottom: 100px
}

.p100 {
    padding: 100px
}

.pl100 {
    padding-left: 100px
}

.pr100 {
    padding-right: 100px
}

.pt100 {
    padding-top: 100px
}

.pb100 {
    padding-bottom: 100px
}

.m105 {
    margin: 105px
}

.ml105 {
    margin-left: 105px
}

.mr105 {
    margin-right: 105px
}

.mt105 {
    margin-top: 105px
}

.mb105 {
    margin-bottom: 105px
}

.p105 {
    padding: 105px
}

.pl105 {
    padding-left: 105px
}

.pr105 {
    padding-right: 105px
}

.pt105 {
    padding-top: 105px
}

.pb105 {
    padding-bottom: 105px
}

.m110 {
    margin: 110px
}

.ml110 {
    margin-left: 110px
}

.mr110 {
    margin-right: 110px
}

.mt110 {
    margin-top: 110px
}

.mb110 {
    margin-bottom: 110px
}

.p110 {
    padding: 110px
}

.pl110 {
    padding-left: 110px
}

.pr110 {
    padding-right: 110px
}

.pt110 {
    padding-top: 110px
}

.pb110 {
    padding-bottom: 110px
}

.m115 {
    margin: 115px
}

.ml115 {
    margin-left: 115px
}

.mr115 {
    margin-right: 115px
}

.mt115 {
    margin-top: 115px
}

.mb115 {
    margin-bottom: 115px
}

.p115 {
    padding: 115px
}

.pl115 {
    padding-left: 115px
}

.pr115 {
    padding-right: 115px
}

.pt115 {
    padding-top: 115px
}

.pb115 {
    padding-bottom: 115px
}

.m120 {
    margin: 120px
}

.ml120 {
    margin-left: 120px
}

.mr120 {
    margin-right: 120px
}

.mt120 {
    margin-top: 120px
}

.mb120 {
    margin-bottom: 120px
}

.p120 {
    padding: 120px
}

.pl120 {
    padding-left: 120px
}

.pr120 {
    padding-right: 120px
}

.pt120 {
    padding-top: 120px
}

.pb120 {
    padding-bottom: 120px
}

.m125 {
    margin: 125px
}

.ml125 {
    margin-left: 125px
}

.mr125 {
    margin-right: 125px
}

.mt125 {
    margin-top: 125px
}

.mb125 {
    margin-bottom: 125px
}

.p125 {
    padding: 125px
}

.pl125 {
    padding-left: 125px
}

.pr125 {
    padding-right: 125px
}

.pt125 {
    padding-top: 125px
}

.pb125 {
    padding-bottom: 125px
}

.m130 {
    margin: 130px
}

.ml130 {
    margin-left: 130px
}

.mr130 {
    margin-right: 130px
}

.mt130 {
    margin-top: 130px
}

.mb130 {
    margin-bottom: 130px
}

.p130 {
    padding: 130px
}

.pl130 {
    padding-left: 130px
}

.pr130 {
    padding-right: 130px
}

.pt130 {
    padding-top: 130px
}

.pb130 {
    padding-bottom: 130px
}

.m135 {
    margin: 135px
}

.ml135 {
    margin-left: 135px
}

.mr135 {
    margin-right: 135px
}

.mt135 {
    margin-top: 135px
}

.mb135 {
    margin-bottom: 135px
}

.p135 {
    padding: 135px
}

.pl135 {
    padding-left: 135px
}

.pr135 {
    padding-right: 135px
}

.pt135 {
    padding-top: 135px
}

.pb135 {
    padding-bottom: 135px
}

.m140 {
    margin: 140px
}

.ml140 {
    margin-left: 140px
}

.mr140 {
    margin-right: 140px
}

.mt140 {
    margin-top: 140px
}

.mb140 {
    margin-bottom: 140px
}

.p140 {
    padding: 140px
}

.pl140 {
    padding-left: 140px
}

.pr140 {
    padding-right: 140px
}

.pt140 {
    padding-top: 140px
}

.pb140 {
    padding-bottom: 140px
}

.m145 {
    margin: 145px
}

.ml145 {
    margin-left: 145px
}

.mr145 {
    margin-right: 145px
}

.mt145 {
    margin-top: 145px
}

.mb145 {
    margin-bottom: 145px
}

.p145 {
    padding: 145px
}

.pl145 {
    padding-left: 145px
}

.pr145 {
    padding-right: 145px
}

.pt145 {
    padding-top: 145px
}

.pb145 {
    padding-bottom: 145px
}

.m150 {
    margin: 150px
}

.ml150 {
    margin-left: 150px
}

.mr150 {
    margin-right: 150px
}

.mt150 {
    margin-top: 150px
}

.mb150 {
    margin-bottom: 150px
}

.p150 {
    padding: 150px
}

.pl150 {
    padding-left: 150px
}

.pr150 {
    padding-right: 150px
}

.pt150 {
    padding-top: 150px
}

.pb150 {
    padding-bottom: 150px
}

.m155 {
    margin: 155px
}

.ml155 {
    margin-left: 155px
}

.mr155 {
    margin-right: 155px
}

.mt155 {
    margin-top: 155px
}

.mb155 {
    margin-bottom: 155px
}

.p155 {
    padding: 155px
}

.pl155 {
    padding-left: 155px
}

.pr155 {
    padding-right: 155px
}

.pt155 {
    padding-top: 155px
}

.pb155 {
    padding-bottom: 155px
}

.m160 {
    margin: 160px
}

.ml160 {
    margin-left: 160px
}

.mr160 {
    margin-right: 160px
}

.mt160 {
    margin-top: 160px
}

.mb160 {
    margin-bottom: 160px
}

.p160 {
    padding: 160px
}

.pl160 {
    padding-left: 160px
}

.pr160 {
    padding-right: 160px
}

.pt160 {
    padding-top: 160px
}

.pb160 {
    padding-bottom: 160px
}

.m165 {
    margin: 165px
}

.ml165 {
    margin-left: 165px
}

.mr165 {
    margin-right: 165px
}

.mt165 {
    margin-top: 165px
}

.mb165 {
    margin-bottom: 165px
}

.p165 {
    padding: 165px
}

.pl165 {
    padding-left: 165px
}

.pr165 {
    padding-right: 165px
}

.pt165 {
    padding-top: 165px
}

.pb165 {
    padding-bottom: 165px
}

.m170 {
    margin: 170px
}

.ml170 {
    margin-left: 170px
}

.mr170 {
    margin-right: 170px
}

.mt170 {
    margin-top: 170px
}

.mb170 {
    margin-bottom: 170px
}

.p170 {
    padding: 170px
}

.pl170 {
    padding-left: 170px
}

.pr170 {
    padding-right: 170px
}

.pt170 {
    padding-top: 170px
}

.pb170 {
    padding-bottom: 170px
}

.m175 {
    margin: 175px
}

.ml175 {
    margin-left: 175px
}

.mr175 {
    margin-right: 175px
}

.mt175 {
    margin-top: 175px
}

.mb175 {
    margin-bottom: 175px
}

.p175 {
    padding: 175px
}

.pl175 {
    padding-left: 175px
}

.pr175 {
    padding-right: 175px
}

.pt175 {
    padding-top: 175px
}

.pb175 {
    padding-bottom: 175px
}

.m180 {
    margin: 180px
}

.ml180 {
    margin-left: 180px
}

.mr180 {
    margin-right: 180px
}

.mt180 {
    margin-top: 180px
}

.mb180 {
    margin-bottom: 180px
}

.p180 {
    padding: 180px
}

.pl180 {
    padding-left: 180px
}

.pr180 {
    padding-right: 180px
}

.pt180 {
    padding-top: 180px
}

.pb180 {
    padding-bottom: 180px
}

.m185 {
    margin: 185px
}

.ml185 {
    margin-left: 185px
}

.mr185 {
    margin-right: 185px
}

.mt185 {
    margin-top: 185px
}

.mb185 {
    margin-bottom: 185px
}

.p185 {
    padding: 185px
}

.pl185 {
    padding-left: 185px
}

.pr185 {
    padding-right: 185px
}

.pt185 {
    padding-top: 185px
}

.pb185 {
    padding-bottom: 185px
}

.m190 {
    margin: 190px
}

.ml190 {
    margin-left: 190px
}

.mr190 {
    margin-right: 190px
}

.mt190 {
    margin-top: 190px
}

.mb190 {
    margin-bottom: 190px
}

.p190 {
    padding: 190px
}

.pl190 {
    padding-left: 190px
}

.pr190 {
    padding-right: 190px
}

.pt190 {
    padding-top: 190px
}

.pb190 {
    padding-bottom: 190px
}

.m195 {
    margin: 195px
}

.ml195 {
    margin-left: 195px
}

.mr195 {
    margin-right: 195px
}

.mt195 {
    margin-top: 195px
}

.mb195 {
    margin-bottom: 195px
}

.p195 {
    padding: 195px
}

.pl195 {
    padding-left: 195px
}

.pr195 {
    padding-right: 195px
}

.pt195 {
    padding-top: 195px
}

.pb195 {
    padding-bottom: 195px
}

.m200 {
    margin: 200px
}

.ml200 {
    margin-left: 200px
}

.mr200 {
    margin-right: 200px
}

.mt200 {
    margin-top: 200px
}

.mb200 {
    margin-bottom: 200px
}

.p200 {
    padding: 200px
}

.pl200 {
    padding-left: 200px
}

.pr200 {
    padding-right: 200px
}

.pt200 {
    padding-top: 200px
}

.pb200 {
    padding-bottom: 200px
}

.font10 {
    font-size: 10px
}

.font11 {
    font-size: 11px
}

.font12 {
    font-size: 12px
}

.font13 {
    font-size: 13px
}

.font14 {
    font-size: 14px
}

.font15 {
    font-size: 15px
}

.font16 {
    font-size: 16px
}

.font17 {
    font-size: 17px
}

.font18 {
    font-size: 18px
}

.font19 {
    font-size: 19px
}

.font20 {
    font-size: 20px
}

.font21 {
    font-size: 21px
}

.font22 {
    font-size: 22px
}

.font23 {
    font-size: 23px
}

.font24 {
    font-size: 24px
}

.font25 {
    font-size: 25px
}

.font26 {
    font-size: 26px
}

.font27 {
    font-size: 27px
}

.font28 {
    font-size: 28px
}

.font29 {
    font-size: 29px
}

.font30 {
    font-size: 30px
}

.font31 {
    font-size: 31px
}

.font32 {
    font-size: 32px
}

.font33 {
    font-size: 33px
}

.font34 {
    font-size: 34px
}

.font35 {
    font-size: 35px
}

.font36 {
    font-size: 36px
}

.font37 {
    font-size: 37px
}

.font38 {
    font-size: 38px
}

.font39 {
    font-size: 39px
}

.font40 {
    font-size: 40px
}

.font41 {
    font-size: 41px
}

.font42 {
    font-size: 42px
}

.font43 {
    font-size: 43px
}

.font44 {
    font-size: 44px
}

.font45 {
    font-size: 45px
}

.font46 {
    font-size: 46px
}

.font47 {
    font-size: 47px
}

.font48 {
    font-size: 48px
}

.font49 {
    font-size: 49px
}

.font50 {
    font-size: 50px
}

.font51 {
    font-size: 51px
}

.font52 {
    font-size: 52px
}

.font53 {
    font-size: 53px
}

.font54 {
    font-size: 54px
}

.font55 {
    font-size: 55px
}

.font56 {
    font-size: 56px
}

.font57 {
    font-size: 57px
}

.font58 {
    font-size: 58px
}

.font59 {
    font-size: 59px
}

.font60 {
    font-size: 60px
}

.font61 {
    font-size: 61px
}

.font62 {
    font-size: 62px
}

.font63 {
    font-size: 63px
}

.font64 {
    font-size: 64px
}

.font65 {
    font-size: 65px
}

.font66 {
    font-size: 66px
}

.font67 {
    font-size: 67px
}

.font68 {
    font-size: 68px
}

.font69 {
    font-size: 69px
}

.font70 {
    font-size: 70px
}

.font71 {
    font-size: 71px
}

.font72 {
    font-size: 72px
}

.font73 {
    font-size: 73px
}

.font74 {
    font-size: 74px
}

.font75 {
    font-size: 75px
}

.font76 {
    font-size: 76px
}

.font77 {
    font-size: 77px
}

.font78 {
    font-size: 78px
}

.font79 {
    font-size: 79px
}

.font80 {
    font-size: 80px
}

.font81 {
    font-size: 81px
}

.font82 {
    font-size: 82px
}

.font83 {
    font-size: 83px
}

.font84 {
    font-size: 84px
}

.font85 {
    font-size: 85px
}

.font86 {
    font-size: 86px
}

.font87 {
    font-size: 87px
}

.font88 {
    font-size: 88px
}

.font89 {
    font-size: 89px
}

.font90 {
    font-size: 90px
}

.font91 {
    font-size: 91px
}

.font92 {
    font-size: 92px
}

.font93 {
    font-size: 93px
}

.font94 {
    font-size: 94px
}

.font95 {
    font-size: 95px
}

.font96 {
    font-size: 96px
}

.font97 {
    font-size: 97px
}

.font98 {
    font-size: 98px
}

.font99 {
    font-size: 99px
}

.font100 {
    font-size: 100px
}

.p-r {
    position: relative;
}

.p-a {
    position: absolute;
}

.f-r {
    display: flex;
    flex-direction: row
}

.f-c {
    display: flex;
    flex-direction: column
}

.f-a-c {
    align-items: center
}

.f-j-c {
    justify-content: center;
}

.f-j-a {
    justify-content: space-around;
}

.f-j-l {
    justify-content: flex-start;
}

.f-j-r {
    justify-content: flex-end;
}

.f-a-l {
    align-items: flex-start;
}

.f-a-r {
    align-items: flex-end;
}

.f-w-t {
    flex-wrap: wrap
}

.f-w-b {
    flex-wrap: wrap-reverse
}

.f-j-s {
    justify-content: space-between
}

.font-yellow {
    color: #F6AE0D
}
.font-default{
    /* color:#ffead0 */
    color:#409eff;
}
.font-green {
    color: #28d228
}

.font-red {
    color: #ff5a5a
}

.font-blue {
    color: #409eff
}

.font-snow {
    color: snow
}

.font-white {
    color: #fff
}

.font-grey {
    color: #9c9c9c
}

.fontw100 {
    font-weight: 100
}

.fontw200 {
    font-weight: 200
}

.fontw300 {
    font-weight: 300
}

.fontw400 {
    font-weight: 400
}

.fontw500 {
    font-weight: 500
}

.fontw600 {
    font-weight: 600
}

.fontw700 {
    font-weight: 700
}

.fontw800 {
    font-weight: 800
}

.fontw900 {
    font-weight: 900
}

.t-l {
    text-align: left;
}

.t-r {
    text-align: right;
}

.t-c {
    text-align: center;
}

.w100 {
    width: 100%
}

.h100 {
    height: 100%
}

.vw100 {
    width: 100vw
}

.vh100 {
    height: 100vh
}

.boxing {
    box-sizing: border-box;
}

.border-b10 {
    border-bottom: #e5e5e5 solid 10px;
}

.border-t10 {
    border-top: #e5e5e5 solid 10px;
}

.border-l10 {
    border-left: #e5e5e5 solid 10px;
}

.border-r10 {
    border-right: #e5e5e5 solid 10px;
}

.border-b1 {
    border-bottom: #e5e5e5 solid 1px;
}

.border-b2 {
    border-bottom: #e5e5e5 solid 2px;
}

.border-t1 {
    border-top: #e5e5e5 solid 1px;
}

.border-l1 {
    border-left: #e5e5e5 solid 1px;
}

.border-r1 {
    border-right: #e5e5e5 solid 1px;
}

.border1 {
    border: #e5e5e5 solid 1px;
}

.border10 {
    border: #e5e5e5 solid 10px;
}

.border-ra {
    border-radius: 8px;
}

.zs {
    cursor: pointer;
}

.font-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

[v-cloak]{
    display: none;
}